body {
    font-family: "Playwrite IS";

    background-image: url(../img/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.arrows {
    background-color: #ffffff;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

.cabecalho {
    text-align: center;
    padding: 60px 0;
}

.image {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.cabecalho .titulo {
    color:aliceblue;
}

.cabecalho .logocarro {
    height: 25px;
    width: 25px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.list {
    width: 330px;
    height: 520px;
    position: relative;
}

.card {
    background-color: #59270A;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    opacity: 0;
    height: 100%;
    position: absolute;
    padding: 12px;

    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
}

.type {
    font-weight: 700;
    font-size: 14px;

    background-color: #D97014;
    border: rgb(63, 57, 57) solid;
    border-radius: 10px;
    
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;

    padding: 0.5%;
}

.card.selected {
    opacity: 1;
    z-index: 1;
}

.card .infos {
    display: flex;
    background-color: #D97014;
    justify-content: space-between;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    align-items: center;
    padding: 8px 10px;
}

.card .infos .names {
    font-size: 16px;
    color: white;
}

.card .infos .HP {
    background-color: black;
    border-radius: 20px;
    padding: 6px 10px;
    color: white;
}

.image {
    display: flex;

    width: 100%;
    height: 100%;
}

.fundo-1 {
    background: url(../img/Max_Fundo.jpeg);
    background-repeat:no-repeat;
    background-size:cover;

    height: 375px;
    width: 100%;

    border: #F2884B solid;
    border-width: 2.5px;
}

.fundo-2 {
    background: url(../img/Furiosa_Fundo.jpg);
    background-repeat:no-repeat;
    background-size:cover;

    width: 100%;
    height: 400px; 
    overflow: hidden; 

    border: #F2884B solid;
    border-width: 2.5px;
}

.fundo-3 {
    background: url(../img/ImmortanJoe_Fundo.jpg);
    background-repeat:no-repeat;
    background-size:cover;

    height: 400px;
    width: 100%;

    border: #F2884B solid;
    border-width: 2.5px;
}

.fundo-4 {
    background: url(../img/GyroCaptain_Background.png);
    background-repeat:no-repeat;
    background-size:cover;

    height: 400px;
    width: 100%;

    border: #F2884B solid;
    border-width: 2.5px;
}

.fundo-5 {
    background: url(../img/LordHumungus_Background.jpg);
    background-repeat:no-repeat;
    background-size:cover;

    height: 232.5px;
    width: 100%;

    border: #F2884B solid;
    border-width: 2.5px;
}

.fundo-6 {
    background: url(../img/PretorianJack_Background.png);
    background-repeat:no-repeat;
    background-size:cover;

    height: 232.5px;
    width: 100%;

    border: #F2884B solid;
    border-width: 2.5px;
}

.description {
    font-weight: 500;
    font-size: 12px;

    background-color: #ebcfc1;
    border: #F2884B solid;
    border-width: 2.5px;
    
    padding: 2.5%;
    

    max-width: 100%;
    text-align: justify;
    overflow-y: auto;
}